@import url(droparea.css);

label {
  font: var(--text-sm);
  color: var(--text-secondary);

  display: block;
  margin-bottom: 0.25rem;
}

input,
select,
textarea {
  /* para retirar a setinha, "o estilo" do input */
  appearance: none;
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid var(--stroke-default);

  padding: 0.75rem 1rem;

  font: var(--text);
}

input:focus,
select:focus,
textarea:focus,
input[type="date"]:focus-within {
  border: 1px solid var(--stroke-highlight);
  /* a borda não aparece no safari, para corrigir isso, a linha abaixo */
  outline-offset: 0.1px;

  /* sombra em ao redor da borda */
  outline: 0.25rem solid var(--surface-secondary);
}

input[type="date"] {
  position: relative;
  /* color: var(--text-secondary); */

  /* seletor do icone de calendário no input de date */
  &::-webkit-calendar-picker-indicator {
    /* Não retira com o none, apenas deixa invisível pra não perder a funcionalidade */
    opacity: 0;
  }

  &::before {
    content: "";
    position: absolute;
    background: url(../../assets/icons/calendar-03.svg) center/contain;

    width: 1.25rem;
    height: 1.25rem;

    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
  }
}

select {
  background: url(../../assets/icons/arrow-down-01.svg) no-repeat
    calc(100% - 1rem);

  /* color: var(--text-secondary); */
}

.address .flex {
  gap: 1.25rem;
}

.input-wrapper:has([disabled]) {
  opacity: .5;
}

input {
  &[disabled] {
    background-color: var(--surface-disabled);
  }
}